{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ blog.title }}</h1>

  <p><strong>Author:</strong> <a href="{% url 'blog-list-by-author' blog.author.pk %}">{{ blog.author }}</a></p>
  <p><strong>Post Date:</strong> {{ blog.post_date }}</p>
  <p><strong>Entry:</strong> {{ blog.entry }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Comments</h4>
    <p><a href="{% url 'add-comment' blog.pk %}">Leave a comment</a></p>
    {% for remark in blog.comment_set.all %}
      <p>{{ remark.comment }}</p>
      <p>{{ remark.author }}, {{ remark.post_date }}</p>
    {% endfor %}
  </div>
{% endblock %}