{% extends "base_generic.html" %}

{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    <table id="documentTable" class="table table-hover">
      <thead>
      <tr>
        <th onclick="sortTable(0)">Title</th>
        <th onclick="sortTable(1)">Author</th>
        <th onclick="sortTable(2)">Priority</th>
      </tr>
      </thead>
      {% for x in form %}
        <tr>
          <td>{{ x.title }}</td>
          <td>{{ x.author }}</td>
          <td>{{ x.priority }}</td>
        </tr>
      {% endfor %}
    </table>
    <input type="submit" value="Submit">
  </form>
{% endblock %}